<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title></title>
        <base href="/"/>
    </head>
    <body>

        <h1>Hello</h1>

        <ui-view></ui-view>
        <script src="/scripts/angular/angular.js" charset="utf-8"></script>
        <script src="/scripts/angular-ui-router/release/angular-ui-router.js" charset="utf-8"></script>
        <script src="app.js" charset="utf-8"></script>
        <script src="/controllers/homeController.js" charset="utf-8"></script>
    </body>
</html>
